<!-- extends Bootstrap, header, and footer from base -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Search functionality (by team) -->
<div class="container text-center" style="margin-bottom: 25px">
    <h2>Pick A Team</h2>
    <p>Select a team below to display their games.</p>
</div>

<div class="container">
    <div class="dropdown" style="margin-bottom: 25px" align="center">
        <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:300px">
        Select a team
        </a>
    
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding:20px">
            <div class="row">
                <div class="col-sm-6">
                    <span class="dropdown-item-text"><b>American League</b></span>
                    <h6 class="dropdown-header">East</h6>
                        <a class="dropdown-item" href="#">Toronto Blue Jays</a>
                        <a class="dropdown-item" href="#">Baltimore Orioles</a>
                        <a class="dropdown-item" href="#">Tampa Bay Rays</a>
                        <a class="dropdown-item" href="#">Boston Red Sox</a>
                        <a class="dropdown-item" href="#">New York Yankees</a>
                    <h6 class="dropdown-header">Central</h6>
                        <a class="dropdown-item" href="#">Cleveland Indians</a>
                        <a class="dropdown-item" href="#">Kansas City Royals</a>
                        <a class="dropdown-item" href="#">Detroit Tigers</a>
                        <a class="dropdown-item" href="#">Minnesota Twins</a>
                        <a class="dropdown-item" href="#">Chicago White Sox</a>
                    <h6 class="dropdown-header">West</h6>
                        <a class="dropdown-item" href="#">Los Angeles Angels</a>
                        <a class="dropdown-item" href="#">Houston Astros</a>
                        <a class="dropdown-item" href="#">Oakland Athletics</a>
                        <a class="dropdown-item" href="#">Seattle Mariners</a>
                        <a class="dropdown-item" href="#">Texas Rangers</a>
                </div>
                <div class="col-sm-6" style="border-left: 1px solid #ccc">
                    <span class="dropdown-item-text"><b>National League</b></span>
                    <h6 class="dropdown-header">East</h6>
                        <a class="dropdown-item" href="#">Atlanta Braves</a>
                        <a class="dropdown-item" href="#">Miami Marlins</a>
                        <a class="dropdown-item" href="#">New York Mets</a>
                        <a class="dropdown-item" href="#">Washington Nationals</a>
                        <a class="dropdown-item" href="#">Philadelphia Phillies</a>
                    <h6 class="dropdown-header">Central</h6>
                        <a class="dropdown-item" href="#">Milwaukee Brewers</a>
                        <a class="dropdown-item" href="#">St. Louis Cardinals</a>
                        <a class="dropdown-item" href="#">Chicago Cubs</a>
                        <a class="dropdown-item" href="#">Pittsburgh Pirates</a>
                        <a class="dropdown-item" href="#">Cincinnati Reds</a>
                    <h6 class="dropdown-header">West</h6>
                        <a class="dropdown-item" href="#">Arizona Diamondbacks</a>
                        <a class="dropdown-item" href="#">Los Angeles Dodgers</a>
                        <a class="dropdown-item" href="#">San Francisco Giants</a>
                        <a class="dropdown-item" href="#">San Diego Padres</a>
                        <a class="dropdown-item" href="#">Colorado Rockies</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Display Upcoming Games -->
<div class="container text-center" style="margin-bottom: 25px">
    <h2>Upcoming Games</h2>
</div>

{% if not today %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        There are no games today——here are some coming up next season.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="container" style="width:700px">
{% for game in data %}
    <div class="row bg-light shadow-sm" style="margin-bottom: 20px; border: #ccc 1px solid">
        <div class="col-sm" align="center">
            <img src="{% static 'logos/'%}{{ game.home_team }}.png" width="80"><b>{{ game.home_team }}</b> vs. <b>{{ game.away_team }}</b><img src="{% static 'logos/'%}{{ game.away_team }}.png" width="80">
        </div>
        <div style="border-left: 1px solid #ccc; padding: 10px">
            <button type="button" class="btn btn-success">Get Prediction</button>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}